body {
  background-color: lightgrey
}
h1 {
  color: blue
}
label {
  color: dodgerblue;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding: 25%
}
.menu {
  list-style-type: none;
  padding-left: 0;
}
.menu li {
  display: inline-block
}
.menu li:after {
  content: "\00a0";
}
.delimiter {
  margin-right: 25px;
}
.global-error {
  font-size: 100px;
  color: red;
}

#logout-form {
  display: inline-block;
}

#logout-button {
  display: inline-block;
}

.articleBody {
  width: 700px;
  height: 300px;
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.articleTitle {
  width: 450px;
  height: 35px;
  font-weight: bold;
  font-size: 15px;
}