body {
  background-color: lightgrey
}
h1 {
  color: blue
}
label {
  color: dodgerblue;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding: 25%
}
.menu {
  list-style-type: none;
  padding-left: 0;
}
.menu li {
  display: inline-block
}
.menu li:after {
  content: "\00a0";
}
.delimiter {
  margin-right: 25px;
}
.global-error {
  font-size: 100px;
  color: red;
}

#logout-form {
  display: inline-block;
}

#logout-button {
  display: inline-block;
}

.articleBody {
  width: 700px;
  height: 300px;
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.articleTitle {
  width: 450px;
  height: 35px;
  font-weight: bold;
  font-size: 15px;
}

.articleContents {
  min-width: 50px;
  min-height: 130px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid cornflowerblue;
}

.author {
  font-weight: bold;
  margin-top: 50px;
  font-size: 20px;
  font-style: blue;
  text-align: right;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    background-color: cornflowerblue;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 18px;
}
ul.pagination li a:hover {
    background-color: lightblue;
}

.editButton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.adminLabel {
  color: red;
  border: 1px solid red;
  border-radius: 15px;
}