html
    head
        title Cars and Coffee
        link(href='/index.css', rel='stylesheet')
        link(href='/favicon.ico?v2', rel='icon')


    body
        ul
            li
                a(href='/addCar') Add a Car
            li
                a(href='/gallery') Gallery
            li
                a(href='/addOwner') Add an Owner
            li
                a(href='/owners/') Owners

        div(id="instructions")
            | 1. Add an Owner
            br
            | 2. Add a Car to said owner
            br
            | 3. Repeat
            br
            | 4. Bask in the glory of the gallery and owners list (and profiles too)