html
    head
        title Cars and Coffee
        link(href='/index.css', rel='stylesheet')


    body
        ul
            li
                a(href='/addCar') Add a Car
            li
                a(href='/gallery') Gallery
            li
                a(href='/addOwner') Add an Owner
            li
                a(href='/owners/') Owners
            li
                a(href='/meets') Meets
            li
                a(href='/schedule') Schedule