extends ../shared/layout

block main-content
  form(method="post" action="addArticle")
    label(for="title") Article Title
    br
    input.articleTitle(type="text" name="title" id="articleTitle" maxlength="60" value=title required)
    br
    label(for="contents") Article's Contents
    br
    textarea.articleBody(name="contents" id="articleBody" maxlength="4000" required) #{contents}
    br
    input(type="submit" value="Create Blog Post")
    